{% extends 'main/base.html' %}
{% block title %} Todos: Auth {% endblock %}
{% block content %}
    <main class="login">
        <h1>Welcome</h1>
        <div class="form-container">
            <form class="login_form">
                <input name='email' type="text" placeholder="Your Email...">
                <input name='password' type="password" placeholder="Your Password...">
                <p class="error"></p>
                <button type="submit">Submit</button>
                <a href="#">No account? Sign up here!</a>
            </form>
        </div>
    </main>
{% endblock %}