main.login{
    margin-top: 30vh;
}
main.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main.login form input{
    margin: 15px 0;
}
.login button{
    margin-top: 30px;
    background: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    padding: 7px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-container{
    position: relative;
    width: 250px;
}

.login_form, .signup_form{
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s;
}

.login_form.hidden, .signup_form.hidden{
    opacity: 0;
    z-index: -1;
}

p.link{
    text-align: right;
    margin-top: 20px;
    font-style: italic;
    font-size: .8rem;
    cursor: pointer;
    width: 100%;
}