<form class="todo">
    <h2><%=todo.todo%></h2>
    <div class="buttons">
        <button type="submit" class="done"><img src="/static/assets/done.svg" alt=""></button>
        <button type="submit" class="delete"><img src="/static/assets/delete.svg" alt=""></button>
    </div>
</form>