.home form.todo{
    background: white;
    display: flex;
    margin: 15px 0;
    align-items: center;
}
.home form.todo img{
    width: 1.8em;
    transition: transform .25s;
}

.home form.todo .buttons{
    display: flex;
}
.home form.todo h2{
    flex: 1;
    padding-left: 10px;
    font-weight: normal;
    font-size: 1em;
}
.home form.todo button{
    padding: 5px 8px;
}
.home form.todo button:hover img{
    transform: scale(.8);
}
.home form.todo .done{
    background: var(--green);
}
.home form.todo .delete{
    background: var(--red);
}