<main class="login">
    <h1>Welcome</h1>
    <div class="form-container">
        <form class="signup_form" method="POST" action="/signup">
            <input name='email' type="text" placeholder="Your Email...">
            <input name='password' type="password" placeholder="Your Password...">
            <input name='password_confirm' type="password" placeholder="Confirm your Password...">
            <p class="error"></p>
            <button type="submit">Submit</button>
            <a href="/login">Already hava account? Login here!</a>
        </form>
    </div>
</main>